* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Helvetica, sans-serif;
  background: url(../images/bg.png);
  margin: 15px;
  display: flex;
  justify-content: center;
}

/*fortamatacao geral*/
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
/*formatacao geral*/

#container {
  background: url(../images/bg-container.png) top center repeat-y;
  min-width: 740px;
  max-width: 1190px;
}

#topo {
  height: 15.4em;
  min-height: 250px;
  position: relative;
}

#logo {
  background: url(../images/topo-imagem-principal.png) no-repeat;
  width: 100%;
  height: 250px;
  position: absolute;
  top: 0;
  left: 0;
}
.logo {
  height: 66px;
  position: relative;
  top: 15px;
  left: 15px;
}

#menu {
  background: url(../images/topo-imagem-lateral.png) no-repeat;
  width: 450px;
  height: 250px;
  position: absolute;
  top: 0;
  right: 0;
}
#menu-conteudo {
  margin: 0 15px 0 90px;
  padding-top: 15px;
}

#locais {
  border-top: 1px solid #b5ab56;
  border-bottom: 1px solid #b5ab56;
  padding: 10px 0;
  font-size: 0.7em;
  color: #8b8448;
}
.locais {
  line-height: 2.1em;
  float: left;
}

#reserva {
  background: #8b8448;
  color: #d4c964;
  padding: 5px 10px;
  text-transform: uppercase;
  font-weight: bold;
  float: right;
}

.clear {
  clear: both;
}

#depoimento {
  margin-top: 10px;
  float: right;
}

#navegacao {
  margin-top: 10px;
  float: left;
}
#navegacao li {
  line-height: 1.8em;
  width: 30%;
}
#navegacao a {
  text-transform: uppercase;
  color: #8b8448;
  font-size: 0.8em;
  padding: 5px;
}
#navegacao a:hover {
  background: #f6f6be;
}

#area-principal {
  width: 50%;
  padding: 15px 0;
  background: url(../images/bg-area-principal.png) top left repeat-x;
  float: left;
}
#area-principal .conteudo {
  margin: 20px;
}
#area-principal h2 {
  color: #7d7640;
  font-size: 1em;
  padding: 5px 0;
}
#area-principal p {
  font-size: 0.9em;
  margin: 10px 0;
}
#area-lateral {
  width: 50%;
  padding: 15px 0;
  float: left;
  background: url(../images/bg-area-lateral.png) top right repeat-x;
}
#area-lateral li {
  padding: 8px;
  border-bottom: 1px solid #f3efcb;
  height: 6em;
}
#area-lateral li:hover {
  background: #f6f3de;
  cursor: pointer;
}
#area-lateral li a img {
  width: 110px;
  margin-right: 8px;
  float: left;
}
#area-lateral li h2 {
  font-size: 1.1em;
  color: #615b2d;
  padding: 5px 0;
  background: url(../images/ornamento.png) no-repeat center right;
}
#area-lateral li p {
  font-size: 0.8em;
  color: #000;
}
#rodape{
    padding: 16px;
    background: url(../images/bg-rodape.png) repeat-x top;
    color: #7d7640;
}
